.esports-info {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 4px dashed goldenrod;
  overflow: scroll;

}
p {
  font-size: 12px;
}

.esports-tournaments img {
  float: left;
  margin-right: 20px;
}

article {
  width: 600px;
  
}
.size {
  font-size: 8px;
}

a {
  font-size: 8px;
}
  